*{
  background-color: #F0F2F5;
  /* margin-left: 40px;
  margin-right: 40px;
  margin-top: 58px; */
}



.left{
  margin-top: 190px;
  margin-left: 120px;
}

.right{
  margin-top: 140px;
  margin-right: 120px;
  background-color: none;
}

.container{
  background-color: white;
  padding: 20px;
  margin: none;
}


.cna{
  background-color: white;
}

.fp{
  background-color: white;
}

.btn-success{
  background-color: #42b72a;
}

.icon{
  margin-left: -29px;
}
